.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .month-name {
    margin: 0 30px;
    width: 200px;
    text-align: center;
  }
  .material-icons {
    cursor: pointer;
  }
}
